

<div class="row">
  <div class="col-md-2 menu">
    <div class="filter">
      Filters
      <i class="fa-solid fa-grid-2"></i>
      <i class="fa-solid fa-list"></i>
    </div>
    <div class="searchbar">
      <input class="searchbarinput" type="text" placeholder="Keyword Search" name="search">
    </div>
    <div class="menu-content list-group">
      <label class="list-group-item">
        Location
      </label>
      <label class="list-group-item">
        <input class="form-check-input me-1" type="checkbox" value="">
        Louisville, New York
      </label>
      <label class="list-group-item">
        <input class="form-check-input me-1" type="checkbox" value="">
        Airmont, New York
      </label>
      <label class="list-group-item">
        <input class="form-check-input me-1" type="checkbox" value="">
        Albany, New York
      </label>
      <label class="list-group-item">
        <input class="form-check-input me-1" type="checkbox" value="">
        Allegany County, New York
      </label>
      <label class="list-group-item">
        <input class="form-check-input me-1" type="checkbox" value="">
        Andover, New York
      </label>
      <label class="list-group-item">
        <input class="form-check-input me-1" type="checkbox" value="">
        Apex, North Carolina
      </label>
      <label class="list-group-item">
        <input class="form-check-input me-1" type="checkbox" value="">
        Ardsley, New York
      </label>
      <label class="list-group-item">
        <input class="form-check-input me-1" type="checkbox" value="">
        Armstrong, Illinois
      </label>
      <label class="list-group-item text-center">
        Show More
      </label>
    </div>

    <div class="menu-content list-group">
      <label class="list-group-item">
        Category
      </label>
      <label class="list-group-item">
        <input class="form-check-input me-1" type="checkbox" value="">
        Administrative Assistant/Receptionist
      </label>
      <label class="list-group-item">
        <input class="form-check-input me-1" type="checkbox" value="">
        Administrator Home Health Care
      </label>
      <label class="list-group-item">
        <input class="form-check-input me-1" type="checkbox" value="">
        Administrator LTC
      </label>
      <label class="list-group-item">
        <input class="form-check-input me-1" type="checkbox" value="">
        Admissions
      </label>
      <label class="list-group-item">
        <input class="form-check-input me-1" type="checkbox" value="">
        Assistant Director of Nursing LTC
      </label>
      <label class="list-group-item">
        <input class="form-check-input me-1" type="checkbox" value="">
        Business Development Delete
      </label>
      <label class="list-group-item">
        <input class="form-check-input me-1" type="checkbox" value="">
        Care Manager
      </label>
      <label class="list-group-item">
        <input class="form-check-input me-1" type="checkbox" value="">
        Care Manager
      </label>
      <label class="list-group-item">
        <input class="form-check-input me-1" type="checkbox" value="">
        Care Manager
      </label>
      <label class="list-group-item text-center">
        Show More
      </label>
    </div>
    <div class="menu-content">
      <img class="logoimg" src="../../assets/logo.svg" />
    </div>

  </div>

  <div class="col-md-10 main-content">
    <div class="page-heading">
      HVN Careers
    </div>
    <div class="page-body">
      <div class="openjobs">
        Open Jobs
      </div>
      <div class="card">
        <div class="card-title-category">
          <div class="card-title">
            <span class="card-title-main">Director of Nursing</span>
            <span class="card-title-sub">Fairmont, Illinois</span>
            <span class="card-title-sub">Direct Hire</span>
            <span class="card-title-sub">Added - 9 hours ago</span>
            <span class="card-title-sub-arrow">-></span>
          </div>
          <div class="card-category">Director of Nursing LTC</div>
        </div>
        <div class="card-body">
          Director of Nursing-Nursing Home

          Located near Fairmont, IL

          An elegant long term care, skilled nursing facility located near Fairmont, IL is looking for a compassionate and professional Director of Nursing.

          Responsibilities of the Director of Nursing:


          Supervises all nursing staff in the facility
          Development and implementation of nursing policy and procedure
          Overseeing the hiring and continued employment of nursing staff
          Ensuring there is adequate nursing staff, and that the staff's skills remain current
          Overseeing nursing employee conduct
          Being knowledgeable of incidents at the facility
          Assessing the health needs of each resident


          Requirements of the Director of Nursing:


          Must have IL RN license
          Must have previous experience as a Director of Nursing
          Must have Long Term Care Experience
          Strong leadership skills
          Strong written and verbal communication skills


          Hudson View Network is a medical recruiting firm whose goal is to bridge exceptional talent to superior institutions. We work with various healthcare organizations to help fill needs within their facilities.

        </div>
      </div>

      <div class="card">
        <div class="card-title-category">
          <div class="card-title">
            <span class="card-title-main">Assistant Director of Nursing</span>
            <span class="card-title-sub">Fairmont, Illinois</span>
            <span class="card-title-sub">Direct Hire</span>
            <span class="card-title-sub">Added - 9 hours ago</span>
            <span class="card-title-sub-arrow">-></span>
          </div>
          <div class="card-category">Assistant Director of Nursing LTC</div>
        </div>
        <div class="card-body">
          Assistant Director of Nursing

          Located near Bellwood, IL

          An elegant long term care, skilled nursing facility located near Bellwood, IL is looking for a compassionate and professional Assistant Director of Nursing

          Responsibilities of the Assistant Director of Nursing:


          Assist in supervision of nursing staff in the facility
          Ensuring there is adequate nursing staff, and that the staffs skills remain current
          Overseeing nursing employee conduct
          Being knowledgeable of incidents at the facility
          Assessing the health needs of each resident


          Requirements of the Assistant Director of Nursing:


          Must have current IL RN License
          Must have prior experience as an Assistant Director of Nursing
          Must have long term care experience
          Excellent leadership skills


          Hudson View Network is a medical recruiting firm whose goal is to bridge exceptional talent to superior institutions. We work with various healthcare organizations to help fill needs within their facilities.

        </div>
      </div>

      <div class="card">
        <div class="card-title-category">
          <div class="card-title">
            <span class="card-title-main">Director of Nursing</span>
            <span class="card-title-sub">Fairmont, Illinois</span>
            <span class="card-title-sub">Direct Hire</span>
            <span class="card-title-sub">Added - 9 hours ago</span>
            <span class="card-title-sub-arrow">-></span>
          </div>
          <div class="card-category">Director of Nursing LTC</div>
        </div>
        <div class="card-body">
          Director of Nursing

          Located near Alta, IL

          An elegant long term care, skilled nursing facility is looking for a compassionate and professional Director of Nursing that will be responsible for the leadership and management of the Nursing Department, and will work with the Unit Managers and the Administrator to help drive the overall success of the facility.

          Responsibilities of the Director of Nursing:


          Supervises all nursing staff in the facility
          Development and implementation of nursing policy and procedure
          Overseeing the hiring and continued employment of nursing staff
          Ensuring there is adequate nursing staff, and that the staffs skills remain current
          Overseeing nursing employee conduct
          Being knowledgeable of incidents at the facility
          Assessing the health needs of each resident


          Requirements of the Director of Nursing:


          Must have Illinois RN license
          Must have experience in long term care/skilled nursing
          Must have experience as a Director of Nursing
          Must be a self-starter and energetic
          Strong verbal & written communication skills


          Hudson View Network is a medical recruiting firm whose goal is to bridge exceptional talent to superior institutions. We work with various healthcare organizations to help fill needs within their facilities.
        </div>
      </div>

      <div class="card">
        <div class="card-title-category">
          <div class="card-title">
            <span class="card-title-main">MDS Coordinator</span>
            <span class="card-title-sub">Fairmont, Illinois</span>
            <span class="card-title-sub">Direct Hire</span>
            <span class="card-title-sub">Added - 9 hours ago</span>
            <span class="card-title-sub-arrow">-></span>
          </div>
          <div class="card-category">MDS LTC</div>
        </div>
        <div class="card-body">
          MDS Coordinator-Nursing Home

          Located near Ritchie, IL

          A beautiful privately owned nursing home located near Ritchie, IL is looking for an experienced and knowledgeable MDS Coordinator.

          Requirements of the MDS Coordinator-Nursing Home:


          Must have IL RN license
          Must have MDS Coordinator experience
          Must have long term care experience
          Must know MDS 3.0


          Hudson View Network is a medical recruiting firm whose goal is to bridge exceptional talent to superior institutions. We work with various healthcare organizations to help fill needs within their facilities.

        </div>
      </div>

      <div class="card">
        <div class="card-title-category">
          <div class="card-title">
            <span class="card-title-main">Director of Admissions</span>
            <span class="card-title-sub">Fairmont, Illinois</span>
            <span class="card-title-sub">Direct Hire</span>
            <span class="card-title-sub">Added - 9 hours ago</span>
            <span class="card-title-sub-arrow">-></span>
          </div>
          <div class="card-category">Admissions</div>
        </div>
        <div class="card-body">
          Director of Admissions

          Located near Thornwood, NY

          A beautiful, privately owned skilled nursing facility located near Thornwood, NY is looking for a strong Director of Admissions.

          Responsibilities:


          The primary purpose of this position is to establish referral sources and to obtain required information and admit residents in an efficient manner, in accordance with established policies and procedures, and as directed by your supervisor.
          Will work to build relationships with area case managers, physicians, social workers, community organizations and hospitals to increase census and highlight the quality of care and services provided, including on-site short and long-term rehabilitation in our skilled nursing facility. You will have a proven track record of organizing and hosting successful marketing events that clearly benefited the healthcare facility they worked for. You’ll interview residents, guardians, sponsors, and obtaining the required admission information and signatures.
          The ideal candidate must be a self-starter, skilled communicator and positive motivator. Must be able to organize and prioritize many tasks effectively, Ability to utilize both local and company resources in the execution of job responsibilities. Social Work, Clinical (RN, LPN) a plus.
          The successful candidate will have a minimum of two (2) years’ experience in Admissions, preferably as an Admissions Director. Competitive salary & benefits package offered.


          Qualifications:


          Prior Director of Admissions experience preferred
          Must have long term care experience
          Strong leadership/managerial skills
          Strong written and verbal communication skills
          Looking for a go getter, motivator, self-starter


          Hudson View Network is a medical recruiting firm whose goal is to bridge exceptional talent to superior institutions. We work with various healthcare organizations to help fill needs within their facilities.
        </div>
      </div>

      <div class="card">
        <div class="card-title-category">
          <div class="card-title">
            <span class="card-title-main">Director of Nursing</span>
            <span class="card-title-sub">Fairmont, Illinois</span>
            <span class="card-title-sub">Direct Hire</span>
            <span class="card-title-sub">Added - 9 hours ago</span>
            <span class="card-title-sub-arrow">-></span>
          </div>
          <div class="card-category">Director of Nursing LTC</div>
        </div>
        <div class="card-body">
          Director of Nursing-Nursing Home

          Located near Fairmont, IL

          An elegant long term care, skilled nursing facility located near Fairmont, IL is looking for a compassionate and professional Director of Nursing.

          Responsibilities of the Director of Nursing:


          Supervises all nursing staff in the facility
          Development and implementation of nursing policy and procedure
          Overseeing the hiring and continued employment of nursing staff
          Ensuring there is adequate nursing staff, and that the staff's skills remain current
          Overseeing nursing employee conduct
          Being knowledgeable of incidents at the facility
          Assessing the health needs of each resident


          Requirements of the Director of Nursing:


          Must have IL RN license
          Must have previous experience as a Director of Nursing
          Must have Long Term Care Experience
          Strong leadership skills
          Strong written and verbal communication skills


          Hudson View Network is a medical recruiting firm whose goal is to bridge exceptional talent to superior institutions. We work with various healthcare organizations to help fill needs within their facilities.

        </div>
      </div>

      <div class="card">
        <div class="card-title-category">
          <div class="card-title">
            <span class="card-title-main">Wound Care Nurse</span>
            <span class="card-title-sub">Fairmont, Illinois</span>
            <span class="card-title-sub">Direct Hire</span>
            <span class="card-title-sub">Added - 9 hours ago</span>
            <span class="card-title-sub-arrow">-></span>
          </div>
          <div class="card-category">Wound Care LTC</div>
        </div>
        <div class="card-body">
          Wound Care Nurse

          Located near Malverne, NY

          A beautiful, skilled long term care nursing home located near Malverne, NY is currently seeking an experienced Wound Care Nurse to work at a long-term care facility.

          Responsibilities of the Wound Care Nurse:


          Works in conjunction with the DNS in supervising the restorative nursing, and wound care programs.
          Monitor and assess any new skin observation alerts.
          Develop nursing care plans for resident at risk or currently with skin integrity issues, include treatment protocols
          Provide resident and staff education. Work collaboratively with Physical therapy and nursing staff to maintaining nursing rehabilitation programs


          Qualifications of the Wound Care Nurse-Nursing Home:


          Must have valid New York RN license
          Must have experience as a Wound Care Nurse
          Must have long term care experience
          Must have excellent leadership skills


          Hudson View Network is a medical recruiting firm whose goal is to bridge exceptional talent to superior institutions. We work with various healthcare organizations to help fill needs within their facilities.

        </div>
      </div>

      <div class="card">
        <div class="card-title-category">
          <div class="card-title">
            <span class="card-title-main">Corporate Director of Human Resources</span>
            <span class="card-title-sub">Fairmont, Illinois</span>
            <span class="card-title-sub">Direct Hire</span>
            <span class="card-title-sub">Added - 9 hours ago</span>
            <span class="card-title-sub-arrow">-></span>
          </div>
          <div class="card-category">Human Resources / Labor Relations</div>
        </div>
        <div class="card-body">
          Corporate Human Resources Director

          Located near Springfield, NJ

          A company that owns multiple skilled nursing facilities located near Springfield, NJ is currently seeking a Corporate Human Resources Director.

          Responsibilities of the Corporate Human Resources Director:


          Handling all aspects of Human Resources including, employee morale programs, employee disciplines, changes in payroll status, terminations, resignations, benefits, I-9, workers compensation disability, and FMLA.
          Ensure that the Facility is in compliance with all regulatory authorities including the Department of Health.
          Manage recruitment needs by determining open positions, being aggressive in recruitment efforts, screening, and interviewing applicants


          Qualifications of the Corporate Human Resources Director


          Must have a minimum of two years’ experience in Human Resources
          Must be willing to travel
          Must have experience overseeing multiple Skilled Nursing Facilities
          Strong leadership/managerial skills
          Must have strong knowledge of Federal and state employment laws and regulations


          Hudson View Network is a medical recruiting firm whose goal is to bridge exceptional talent to superior institutions. We work with various healthcare organizations to help fill needs within their facilities.


        </div>
      </div>

      <div class="card">
        <div class="card-title-category">
          <div class="card-title">
            <span class="card-title-main">RN Managers</span>
            <span class="card-title-sub">Fairmont, Illinois</span>
            <span class="card-title-sub">Direct Hire</span>
            <span class="card-title-sub">Added - 9 hours ago</span>
            <span class="card-title-sub-arrow">-></span>
          </div>
          <div class="card-category">Nursing Supervisor/Manager/Charge Nurse LTC</div>
        </div>
        <div class="card-body">
          Unit Managers-Nursing Home

          Located in the Bronx, NY

          A beautiful, privately owned skilled nursing facility located in Bronx, NY is looking for strong Unit Managers.

          Responsibilities of the Unit Managers-Nursing Home:


          Assist with patients examinations and/or questions.
          Implement and interpret organizational policies and procedures, and nursing standards and regulations.
          Assists with preparing the departmental fiscal budget.


          Qualifications of the Unit Managers-Nursing Home:


          Must have current NY RN license
          Must have experience in long term care
          Excellent written and verbal communication skills
          Must have prior experience as a Unit Manager


          Hudson View Network is a medical recruiting firm whose goal is to bridge exceptional talent to superior institutions. We work with various healthcare organizations to help fill needs within their facilities.
        </div>
      </div>

    </div>

  </div>
</div>
