
body {
}

.form-signup {
  margin: 0 auto;
  background-color: white;
  padding: 25px;
}

  .form-signup h5 {
    padding-bottom: 20px;
  }

a {
  text-decoration: none;
  color: green;
  font-weight: bold;
}

.error {
  color: red;
  padding-left: 8px;
  font-size: 12px;
}

button {
    margin-top: 20px;
}

h3 {
  padding-top: 50px;
  padding-bottom: 20px;
}
