<app-header></app-header>

<div class="container">
  <form class="form-signup form-box" [formGroup]="profileEditForm" (ngSubmit)="submitForm()">
    <div class="card" style="border:0;">

      <div class="form-group mb-3" style="margin-top:10px;">

        <div class="row text-end">
          <div class=" text-end">
            <button class="btn btn-light btn-block" (click)="editProfile()">
              {{editText}}
            </button>
          </div>
        </div>

        <div class="row" style="margin-top:20px;">
          <div class="col-md-3">
            <div class="row" style="margin-bottom:10px;">
              <div class="col-md-12 text-center">
                <img [src]="file"
                     style="width: 150px; height: 150px; border: 2px solid black; border-radius: 50%; " />
              </div>
              <div *ngIf="editMode" class="col-md-12 text-center">
                <p-fileUpload mode="advanced"
                              [customUpload]="true"
                              chooseLabel="Upload"
                              accept="image/*"
                              [maxFileSize]="5000000"
                              tabindex="1"
                              (onSelect)="onFileSelect($event)"
                              (uploadHandler)="onUpload($event)"
                              [auto]="true">
                  <ng-template pTemplate="toolbar">
                    <p class="mt-3">Size Maximum 5MB ( jpg, jpeg, png, gif format )</p>
                  </ng-template>
                  <ng-template let-file pTemplate="file">
                  </ng-template>
                  <ng-template pTemplate="content">
                  </ng-template>
                </p-fileUpload>
              </div>
            </div>

            <div class="row" style="margin-bottom: 10px; margin-top: 30px;">
              <div class="col-md-4 pt-1">
                LinkedIn
              </div>
              <div class="col-md-8">
                <label *ngIf="!editMode" for="linkedinaccount" class="form-label pt-1"><i>www.towsif.linkedin.com</i></label>
                <input *ngIf="editMode" type="text" class="form-control"
                       placeholder="Enter LinkedIn Url" formControlName="linkedinaccount" />
              </div>
            </div>
            <div class="row" style="margin-bottom:10px;">
              <div class="col-md-4 pt-1">
                Gmail
              </div>
              <div class="col-md-8">
                <label *ngIf="!editMode" for="gmail" class="form-label pt-1"><i>towsif@gmail.com</i></label>
                <input *ngIf="editMode" type="text" class="form-control" placeholder="Enter Gmail" formControlName="gmail" />
              </div>
            </div>
            <div class="row" style="margin-bottom:10px;">
              <div class="col-md-4 pt-1">
                Skype
              </div>
              <div class="col-md-8">
                <label *ngIf="!editMode" for="skype" class="form-label pt-1"><i>towsiskype</i></label>
                <input *ngIf="editMode" type="text" class="form-control" placeholder="Enter Skype" formControlName="skype" />
              </div>
            </div>
            <div class="row" style="margin-bottom:10px;">
              <div class="col-md-4 pt-1">
                Git Url
              </div>
              <div class="col-md-8">
                <label *ngIf="!editMode" for="gitaccount" class="form-label pt-1"><i>towsif.github.com</i></label>
                <input *ngIf="editMode" type="text" class="form-control"
                       placeholder="Enter Git Account" formControlName="gitaccount" />
              </div>
            </div>

          </div>

          <div class="col-md-4">
            <div class="row" style="margin-bottom:10px;">
              <div class="col-md-5 text-end pt-1">
                First Name <span *ngIf="editMode" style="color:red; font-weight:bolder;">*</span>
              </div>
              <div class="col-md-7">
                <label *ngIf="!editMode" for="firstname" class="form-label pt-1"><b>Towsif</b></label>
                <input *ngIf="editMode" type="text" class="form-control"
                       placeholder="Enter First Name" formControlName="firstname" />
                <div *ngIf="editMode && firstname.invalid && (firstname.touched || firstname.dirty)">
                  <span class="error" *ngIf="firstname.errors?.required">*First name is required</span>
                  <span class="error" *ngIf="firstname.errors?.pattern">*Enter only characters</span>
                </div>
              </div>
            </div>

            <div class="row" style="margin-bottom:10px;">
              <div class="col-md-5 text-end pt-1">
                Last Name <span *ngIf="editMode" style="color:red; font-weight:bolder;">*</span>
              </div>
              <div class="col-md-7">
                <label *ngIf="!editMode" for="lastname" class="form-label pt-1"><b>Patwary</b></label>
                <input *ngIf="editMode" type="text" class="form-control" placeholder="Enter Last Name" formControlName="lastname" />
                <div *ngIf="editMode && lastname.invalid && (lastname.touched || lastname.dirty)">
                  <span class="error" *ngIf="lastname.errors?.required">*Last name is required</span>
                  <span class="error" *ngIf="lastname.errors?.pattern">*Enter only characters</span>
                </div>
              </div>
            </div>

            <div class="row" style="margin-bottom:10px;">
              <div class="col-md-5 text-end pt-1">
                Gender <span *ngIf="editMode" style="color:red; font-weight:bolder;">*</span>
              </div>
              <div class="col-md-7">
                <label *ngIf="!editMode" for="gender" class="form-label pt-1"><b>Male</b></label>
                <p-dropdown *ngIf="editMode" [options]="_gender" formControlName="gender"
                            optionLabel="name" optionValue="code" placeholder="Select Gender"></p-dropdown>
              </div>
            </div>

            <div class="row" style="margin-bottom:10px;">
              <div class="col-md-5 text-end pt-1">
                Address <span *ngIf="editMode" style="color:red; font-weight:bolder;">*</span>
              </div>
              <div class="col-md-7">
                <label *ngIf="!editMode" for="address" class="form-label pt-1"><b>56 Mohakhali</b></label>
                <textarea *ngIf="editMode" class="form-control" id="address" formControlName="address" rows="3" placeholder="Enter Address"></textarea>
                <div *ngIf="editMode && address.invalid && (address.touched || address.dirty)">
                  <span class="error" *ngIf="address.errors?.required">*Address is required</span>
                </div>
              </div>
            </div>

            <div class="row" style="margin-bottom:10px;">
              <div class="col-md-5 text-end pt-1">
                District <span *ngIf="editMode" style="color:red; font-weight:bolder;">*</span>
              </div>
              <div class="col-md-7">
                <label *ngIf="!editMode" for="district" class="form-label pt-1"><b>Dhaka</b></label>
                <input *ngIf="editMode" type="text" class="form-control" placeholder="Enter District" formControlName="district" />
                <div *ngIf="editMode && district.invalid && (district.touched || district.dirty)">
                  <span class="error" *ngIf="district.errors?.required">*District is required</span>
                </div>
              </div>
            </div>

            <div class="row" style="margin-bottom:10px;">
              <div class="col-md-5 text-end pt-1">
                Division <span *ngIf="editMode" style="color:red; font-weight:bolder;">*</span>
              </div>
              <div class="col-md-7">
                <label *ngIf="!editMode" for="division" class="form-label pt-1"><b>Dhaka, Bangladesh</b></label>
                <input *ngIf="editMode" type="text" class="form-control" placeholder="Enter Division" formControlName="division" />
                <div *ngIf="editMode && division.invalid && (division.touched || division.dirty)">
                  <span class="error" *ngIf="division.errors?.required">*Division is required</span>
                </div>
              </div>
            </div>

            <div class="row" style="margin-bottom:10px;">
              <div class="col-md-5 text-end pt-1">
                Postal Code <span *ngIf="editMode" style="color:red; font-weight:bolder;">*</span>
              </div>
              <div class="col-md-7">
                <label *ngIf="!editMode" for="postalcode" class="form-label pt-1"><b>1207</b></label>
                <input *ngIf="editMode" type="text" class="form-control" placeholder="Enter Postal Code" formControlName="postalcode" />
                <div *ngIf="editMode && postalcode.invalid && (postalcode.touched || postalcode.dirty)">
                  <span class="error" *ngIf="postalcode.errors?.required">*Postal Code is required</span>
                </div>
              </div>
            </div>

            <div class="row" style="margin-bottom:10px;">
              <div class="col-md-5 text-end pt-1">
                Mobile <span *ngIf="editMode" style="color:red; font-weight:bolder;">*</span>
              </div>
              <div class="col-md-7">
                <label *ngIf="!editMode" for="mobile" class="form-label pt-1"><b>+8801670000123</b></label>
                <input *ngIf="editMode" type="text" class="form-control" placeholder="Enter Mobile Number" formControlName="mobile" />
                <div *ngIf="editMode && mobile.invalid && (mobile.touched || mobile.dirty)">
                  <span class="error" *ngIf="mobile.errors?.required">*Mobile no is required</span>
                </div>
              </div>
            </div>
            <div class="row" style="margin-bottom:10px;">
              <div class="col-md-5 text-end pt-1">
                Date of Birth <span *ngIf="editMode" style="color:red; font-weight:bolder;">*</span>
              </div>
              <div class="col-md-7">
                <label *ngIf="!editMode" for="dob" class="form-label pt-1"><b>03-Oct-2000</b></label>
                <p-calendar *ngIf="editMode" formControlName="dob" [showIcon]="true" inputId="icon"></p-calendar>
              </div>
            </div>

            <div class="row" style="margin-bottom:10px;">
              <div class="col-md-5 text-end pt-1">
                Blood Group <span *ngIf="editMode" style="color:red; font-weight:bolder;">*</span>
              </div>
              <div class="col-md-7">
                <label *ngIf="!editMode" for="bloodgroup" class="form-label pt-1"><b>A Positive</b></label>
                <p-dropdown *ngIf="editMode" [options]="_bloodgroup" formControlName="bloodgroup"
                            optionLabel="name" optionValue="code" placeholder="Select Blood Group"></p-dropdown>
              </div>
            </div>

          </div>

          <div class="col-md-5">
            <div class="row" style="margin-bottom:10px;">
              <div class="col-md-5 text-end pt-1">
                Marital Status
              </div>
              <div class="col-md-7">
                <label *ngIf="!editMode" for="maritalstatus" class="form-label pt-1"><b>Unmarried</b></label>
                <p-dropdown *ngIf="editMode" [options]="_maritalstatus" formControlName="maritalstatus"
                            optionLabel="name" optionValue="code" placeholder="Select Marital Status"></p-dropdown>
              </div>
            </div>

            <div class="row" style="margin-bottom:10px;">
              <div class="col-md-5 text-end pt-1">
                Height (Ft.Inch")
              </div>
              <div class="col-md-7">
                <label *ngIf="!editMode" for="height" class="form-label pt-1"><b>5.6"</b></label>
                <input *ngIf="editMode" type="text" class="form-control" placeholder="Enter Height" formControlName="height" />
              </div>
            </div>

            <div class="row" style="margin-bottom:10px;">
              <div class="col-md-5 text-end pt-1">
                Weight (kg)
              </div>
              <div class="col-md-7">
                <label *ngIf="!editMode" for="weight" class="form-label pt-1"><b>67 kg</b></label>
                <input *ngIf="editMode" type="text" class="form-control" placeholder="Enter Weight" formControlName="weight" />
              </div>
            </div>

            <div class="row" style="margin-bottom:10px;">
              <div class="col-md-5 text-end pt-1">
                Place of Birth
              </div>
              <div class="col-md-7">
                <label *ngIf="!editMode" for="placeofbirth" class="form-label pt-1"><b>India</b></label>
                <input *ngIf="editMode" type="text" class="form-control"
                       placeholder="Enter Place of Birth" formControlName="placeofbirth" />
              </div>
            </div>

            <div class="row" style="margin-bottom:10px;">
              <div class="col-md-5 text-end pt-1">
                NID
              </div>
              <div class="col-md-7">
                <label *ngIf="!editMode" for="nid" class="form-label pt-1"><b>71423551021</b></label>
                <input *ngIf="editMode" type="text" class="form-control" placeholder="Enter NID" formControlName="nid" />
              </div>
            </div>

            <div class="row" style="margin-bottom:10px;">
              <div class="col-md-5 text-end pt-1">
                Passport
              </div>
              <div class="col-md-7">
                <label *ngIf="!editMode" for="passport" class="form-label pt-1"><b>B9815341</b></label>
                <input *ngIf="editMode" type="text" class="form-control" placeholder="Enter Passport" formControlName="passport" />
              </div>
            </div>

            <div class="row" style="margin-bottom:10px;">
              <div class="col-md-5 text-end pt-1">
                Driver License
              </div>
              <div class="col-md-7">
                <label *ngIf="!editMode" for="driverlicense" class="form-label pt-1"><b>F123h</b></label>
                <input *ngIf="editMode" type="text" class="form-control"
                       placeholder="Enter Driver License" formControlName="driverlicense" />
              </div>
            </div>

            <div class="row" style="margin-bottom:10px;">
              <div class="col-md-5 text-end pt-1">
                Education
              </div>
              <div class="col-md-7">
                <label *ngIf="!editMode" for="educationalqualification" class="form-label pt-1"><b>BSc. in CSE</b></label>
                <input *ngIf="editMode" type="text" class="form-control"
                       placeholder="Latest Educational Qualification" formControlName="educationalqualification" />
              </div>
            </div>

            <div class="row" style="margin-bottom:10px;">
              <div class="col-md-5 text-end pt-1">
                Company
              </div>
              <div class="col-md-7">
                <label *ngIf="!editMode" for="company" class="form-label pt-1"><b>AEL</b></label>
                <p-dropdown *ngIf="editMode" [options]="_company" formControlName="company"
                            optionLabel="name" optionValue="code" placeholder="Select company"></p-dropdown>
              </div>
            </div>

            <div class="row" style="margin-bottom:10px;">
              <div class="col-md-5 text-end pt-1">
                Joining Date
              </div>
              <div class="col-md-7">
                <label *ngIf="!editMode" for="joiningdate" class="form-label pt-1"><b>01-Aug-2020</b></label>
                <p-calendar *ngIf="editMode" formControlName="joiningdate" [showIcon]="true" inputId="icon"></p-calendar>
              </div>
            </div>


            <div *ngIf="editMode" class="col-md-12 gap-2 text-end" style="margin-top: 30px; ">
              <button class="btn btn-success btn-block" [disabled]="profileEditForm.invalid"
                      style="margin-bottom:10px; width:100px;">
                Submit
              </button>
            </div>

          </div>
        </div>
      </div>
    </div>
  </form>
</div>
