<app-header></app-header>

<body>
  <div class="container">
    <form class="form-signup form-box" [formGroup]="forgotPasswordForm" (ngSubmit)="submitForm()">
      
      <div class="form-group mb-3">
        <input type="text" class="form-control" placeholder="Enter Code" formControlName="code" />
        <div *ngIf="code.invalid && (code.touched || code.dirty)">
          <span class="error" *ngIf="code.errors?.required">*Code is required</span>
        </div>
      </div>

      <div class="form-group mb-3">
        <input type="password" class="form-control" placeholder="Set Password" formControlName="password" />
        <div *ngIf="password.invalid && (password.touched || password.dirty)">
          <span class="error" *ngIf="password.errors?.required">*Password is required</span>
          <span class="error" *ngIf="password.errors?.minlength">*Minimum 6 characters</span>
        </div>
      </div>
      <div class="form-group mb-3">
        <input type="password" class="form-control" placeholder="Confirm Password" formControlName="confirmPassword" />
        <div *ngIf="confirmPassword.invalid && (confirmPassword.touched || confirmPassword.dirty)">
          <span class="error" *ngIf="confirmPassword.errors?.required">*Confirm Password is required</span>
          <span class="error" *ngIf="confirmPassword.errors?.Mismatch">*Confirm Password didn't match</span>
        </div>
      </div>
      <div class="d-grid gap-2">
        <button class="btn btn-success btn-block" [disabled]="forgotPasswordForm.invalid">Submit</button>
      </div>
    </form>
  </div>
</body>
