<app-header></app-header>


<body>
  <div class="container">
    <form class="form-signup form-box">
      <h2>Login</h2>
      <div class="form-group mb-3">
        <input type="email" class="form-control" placeholder="Enter Email Address" name="email" />
      </div>
      <div class="form-group mb-3">
        <input type="password" class="form-control" placeholder="Enter Password" name="password" />
      </div>
      <div class="forgotpassword mb-3">
        <label>
          <a href="#" class="forgotpassword">Forgot password? </a>
        </label>
      </div>
      <div class="d-grid gap-2">
        <input type="button" class="btn btn-success btn-block" name="" value="Log in" />
      </div>
      <div class="register">
        <p>Don't have an account? <a href="registration" class="registration"> Sign up</a> here.</p>
      </div>
    </form>
  </div>
</body>
