<app-header></app-header>

<body>
  <div class="container">
    <form class="form-signup form-box" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <h2>Login</h2>
      <div class="form-group mb-3">
        <input type="email" class="form-control" placeholder="Enter Email Address" formControlName="email" />
        <div *ngIf="email.invalid && (email.touched || email.dirty)">
          <span class="error" *ngIf="email.errors?.required">*Email address is required</span>
          <span class="error" *ngIf="email.errors?.email">*Enter a valid Email address</span>
        </div>
      </div>
      <div class="form-group mb-3">
        <input type="password" class="form-control" placeholder="Enter Password" formControlName="password" />
        <div *ngIf="password.invalid && (password.touched || password.dirty)">
          <span class="error" *ngIf="password.errors?.required">*Password is required</span>
          <span class="error" *ngIf="password.errors?.minlength">*Minimum 6 characters</span>
        </div>
      </div>
      <div class="forgotpassword mb-3">
        <label>
          <a href="forgot-password" class="forgotpassword">Forgot password? </a>
        </label>
      </div>
      <div class="d-grid gap-2">
        <button class="btn btn-success btn-block" [disabled]="loginForm.invalid">Log in</button>
      </div>
      <div class="register">
        <p>Don't have an account? <a href="registration" class="registration"> Sign up</a> here.</p>
      </div>
    </form>
  </div>
</body>
<p-toast key="toastKey1"></p-toast>
