<app-header></app-header>


<body>
  <div class="container">
    <form class="form-signup form-box" #loginForm="ngForm" (ngSubmit)="loginForm.form.valid && onSubmit()" novalidate>
      <h2>Login</h2>
      <div class="form-group mb-3">
        <input type="email" class="form-control" placeholder="Enter Email Address" id="emailId"
               name="emailId"
               #emailId="ngModel"
               [(ngModel)]="userModal.emailId" required />
        <span class="text-danger error"
              *ngIf="(emailId.touched || loginForm.submitted) &&
                  emailId.errors?.['required']">
          Email is required
        </span>
      </div>
      <div class="form-group mb-3">
        <input type="password" class="form-control" placeholder="Enter Password" id="password"
               name="password"
               #password="ngModel"
               [(ngModel)]="userModal.password"
               required />
        <span class="text-danger error"
              *ngIf="(password.touched || loginForm.submitted) &&
                  password.errors?.['required']">
          Password is required
        </span>
      </div>
      <div class="forgotpassword mb-3">
        <label>
          <a href="#" class="forgotpassword">Forgot password? </a>
        </label>
      </div>
      <div class="d-grid gap-2">
        <button class="btn btn-success btn-block" >Log in</button>
      </div>
      <div class="register">
        <p>Don't have an account? <a href="registration" class="registration"> Sign up</a> here.</p>
      </div>
    </form>
  </div>
</body>
